.change-sign {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.paragraf-proyects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    margin: 6px 0 6px 0;

}

.long {
    justify-content: center;
}

.titel-proyec {
    font-family: 'Caveat', cursive;
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 0 0%;
    color: #232A2A;
    margin: 12px 24px 12px 24px;
}

.seccion-proycts {
    display: flex;
    flex-direction: column;
}

.text-proyect {
    text-align: start;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #232A2A;
    max-width: 160px;
    margin: 6px 12px 6px 12px;
    max-height: 120px;
}

.little2 {
    max-width: 160px;
    margin: 3px 12px 3px 12px;
}

.colum-proyect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-product{
    height: 250px;
    width: 170px;
}

    .princ{
        margin-top: 30px ;
    }

    .horz{
        height: 150px;
        width: 250px;
        margin: 54px 42px 24px 42px;
    }

@media (min-width: 950px) {

    .titel-proyec {
            font-size: 39px;
        }

    .text-proyect {
            font-size: 21px;
            max-width: 500px;
            margin: 12px;
        }

    .little2 {
        max-width: 500px;
        margin: 6px 24px 12px 24px
    }
    
    .horz {
        height: 210px;
        width: 350px;
        margin: 42px;
    }

}

