.change-sign {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.paragraf-proyects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 18px 6px 18px 6px;
}
    .long{
        justify-content: center;
    }

.titel-proyec{
    font-family: 'Caveat', cursive;
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 0 0%;
    color: #232A2A;
    margin: 12px 24px 12px 24px;
}

.seccion-proycts{
    display: flex;
    flex-direction: column;
}

.text-proyect {
    text-align: start;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #232A2A;
    max-width: 330px;
    margin: 6px 12px 6px 12px;
    max-height: 100px;
}
.link-proyect{
    text-align: start;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #232A2A;
    max-width: 330px;
    margin: 6px 12px 6px 12px;
    max-height: 100px;
    text-decoration: underline;
}
        .link-proyect:hover {
            text-align: center;
            color: #22B5A3;
            text-decoration: underline;
        }

.little2 {
    max-width: 160px;
    margin: 3px 12px 3px 12px;
}

.img-ux {
    height: 385.44px;
    width: 150px;
}
        .hriz {
            height: 186.7px;
            width: 300px;
            margin: 24px 6px 24px 6px ;

        }
        

@media (min-width: 950px) {
    
    .img-ux {
        height: 462px;
        width: 180px;
        margin: 6px px 6px 24px;
    }
    .hriz {
        height: 342.28px;
        width: 550px;
        margin: 6px 24px 6px 24px;
    }

    .titel-proyec {
        font-size: 39px;
    }

    .text-proyect {
        font-size: 21px;
        max-width: 550px;
    }

    .little2 {
        max-width: 500px;
        margin: 6px 24px 12px 24px
    }
}
