.header {
    padding: 12px;
    height: max-content;
    width: 100vw;
    background-color: #EEF5F6;
    display: flex;
    justify-content: space-between;

}

    .miniLogo{
        width: 63px;
        height: 51px;
        background-image: url("../../recursos/Logo-little.png") ;
        border: none;
        background-color: #EEF5F6;
        margin: 6px;
    }

/*MEDIAS*/

@media (min-width: 950px) {
    .header {
        padding: 24px;
        display: flex;
        justify-content: space-between;
    }

    .miniLogo {
        width: 174px;
        height: 59px;
        background-image: url("../../recursos/Logo.png");
        border: none;
        background-color: #EEF5F6;
        margin: 6px;
    }
}

